@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dark-blue: #112D4E;
  --light-blue: #DBE2EF;
  --white-color: #f9f7f7;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--white-color);
  position: relative;
}

header {
  background-color: var(--dark-blue);
  box-shadow: #777 0px 5px 5px;
  display: flex;
  padding: 8px;
  margin: -8px;
  width: 100%;
}

header > div {
  padding-left: 10vw;
}

header > div > h1 {
  color: var(--white-color);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
}

.add-button {
  background-color: var(--light-blue);
  border: none;
  border-radius: 8px;
  color: var(--dark-blue);
  font-size: 1.125rem;
  padding: 24px;
  width: 128px;
}

.add-button:hover {
  background-color: #c9cfdc;
}

.add-button:active {
  background-color: #b2b8c4;
}

.books-container {
  display: grid;
  gap: 140px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-content: space-between;
  margin: auto;
  padding: 2.5vw;
  width: auto;
}

.books-container > div {
  background-color: var(--dark-blue);
  border-radius: 20px;
  box-shadow: #777 0px 5px 5px;
  color: var(--white-color); 
  display: grid;
  grid-template: repeat(2, 2fr) 1fr 1fr / 1fr;
  padding: 40px;
  align-items: center;
  text-align: center;
  width: auto;
}

.books-container > div > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.books-container > div > h2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.books-container > div > h3 {
  font-size: 1.25rem;
  font-weight: 300;
  overflow: hidden;
  word-wrap: break-word;
}

.books-container > div > button {
  border: none;
  border-radius: 5px;
  bottom: 5%;
  color: var(--dark-blue);
  font-size: 1rem;
  height: 48px;
  margin: auto;
  margin-bottom: 16px;
  width: 100%;
}

form {
  align-items: center;
  background-color: var(--light-blue);
  border-radius: 20px;
  box-shadow: #777 0px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: calc(50% - 125px);
  padding-bottom: 30px;
  padding-top: 30px;
  position: fixed;
  top: 33%;
  width: 250px;
}

form > input {
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  margin-bottom: 16px;
  padding: 16px;
  width: 75%;
}

form > button{
  border: none;
  border-radius: 4px;
  background-color: #77FF77;
  font-size: 1rem;
  height: 32px;
  width: 50%;
}
