@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue: #3F72AF;
  --dark-blue: #112D4E;
  --light-blue: #DBE2EF;
  --white-color: #f9f7f7;
  background-color: var(--white-color);
  font-family: 'Roboto', sans-serif;
}

.books-container {
  display: grid;
  gap: 140px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-content: space-between;
  margin: auto;
  padding: 2.5vw;
  width: auto;
}

.books-container > div {
  background-color: var(--blue);
  border-radius: 20px;
  color: aliceblue; 
  display: grid;
  grid-template: repeat(2, 2fr) 1fr 1fr / 1fr;
  padding: 40px;
  align-items: center;
  text-align: center;
  width: auto;
}

.books-container > div > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.books-container > div > h2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
  overflow: hidden;
  word-wrap: break-word;
}

.books-container > div > h3 {
  font-size: 1.25rem;
  font-weight: 300;
  overflow: hidden;
  word-wrap: break-word;
}

.books-container > div > button {
  border: none;
  border-radius: 5px;
  bottom: 5%;
  height: 48px;
  margin: auto;
  margin-bottom: 16px;
  width: 200px;
}
